* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.container {
    width: 500px;
    height: 500px;
    border-radius: 2%;
    margin-top: 50px;
    margin-left: 500px;
    border: 3px solid #bbb;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .registration-form{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
} */

.registration-form h1{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
}

.registration-form p{
    /* font-size: 30px; */
    margin: 15px 0;

}

.registration-form input{
    border: 0px;
    box-sizing: border-box;
    color: white;
    border: 1px solid #ccc;
}
.names {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
}
.names label {
    display: flex;
    font-size: medium;
}
.names input{
    width: 150px;
    height: 30px;
    box-sizing: border-box;
    color: black;
    border: 2px solid #ccc;
}
.bottom input {
    margin-left: 40%;
    font-size: 18px;
    font-weight: bold;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: black;
    /* background-color: black; */
}
.button{
    margin-left: 40%;
    font-size: 18px;
    font-weight: bold;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: white;
    background-color: black;
      
}

button:hover{
    color: whitesmoke;
    background: rgb(39, 38, 38);
}
@media screen and (max-width: 720px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container {
        display: flex;
        margin-left: 0;
    }
    
}